apiVersion: 1

datasources:
  - name: Mimir
    type: prometheus
    access: proxy
    url: http://mimir:${MIMIR_HTTP_PORT}/prometheus
    isDefault: true
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Mimir
      prometheusVersion: 2.12.0
    version: 1

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:${LOKI_HTTP_PORT}
    jsonData:
      derivedFields:
        - name: TraceID
          matcherRegex: "traceID=(\\w+)"
          url: "$${__value.raw}"
    version: 1
