multitenancy_enabled: false

common:
  storage:
    backend: gcs
    gcs:
      service_account: /etc/mimir/gcs-service_account.json # Reference the file created by setup.sh

blocks_storage:
  gcs:
    bucket_name: ${MIMIR_BLOCKS_BUCKET}

ruler_storage:
  gcs:
    bucket_name: ${MIMIR_RULER_BUCKET}

compactor:
  data_dir: /var/mimir/compactor
  sharding_ring:
    kvstore:
      store: memberlist

distributor:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: memberlist

ingester:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: memberlist
    replication_factor: 1

server:
  http_listen_port: 9009
  log_level: error

limits:
  ingestion_burst_size: 500000
  ingestion_rate: 400000
  compactor_blocks_retention_period: 13w

store_gateway:
  sharding_ring:
    replication_factor: 1
