services:
  mimir:
    image: ${MIMIR_IMAGE}
    command:
      - -config.file=/etc/mimir/config.yaml
      - -target=all
    ports:
      - "${MIMIR_HTTP_PORT}:9009"
    volumes:
      - mimir-data:/var/mimir
    configs:
      - source: ${MIMIR_SWARM_CONFIG_NAME}
        target: /etc/mimir/config.yaml
    secrets:
      - mimir-gcs-credentials
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /run/secrets/mimir-gcs-credentials
    networks:
      - stack-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      placement:
        constraints:
          - "${MIMIR_NODE_CONSTRAINT}"
      replicas: ${MIMIR_REPLICAS}
      restart_policy:
        condition: any

volumes:
  mimir-data:

configs:
  ${MIMIR_SWARM_CONFIG_NAME}:
    file: ${MIMIR_CONFIG_FILE}

secrets:
  mimir-gcs-credentials:
    file: ./gcs-service-account.json

networks:
  stack-network:
    external: true
    name: ${OVERLAY_NETWORK_NAME}
