services:
  grafana:
    image: ${GRAFANA_IMAGE}
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
      GF_FEATURE_TOGGLES_ENABLE: ${GRAFANA_FEATURE_TOGGLES}
      GF_DATABASE_TYPE: postgres
      GF_DATABASE_HOST: ${GRAFANA_DB_HOST}
      GF_DATABASE_NAME: ${GRAFANA_DB_NAME}
      GF_DATABASE_USER: ${GRAFANA_DB_USER}
      GF_DATABASE_PASSWORD: ${GRAFANA_DB_PASSWORD}
      GF_DATABASE_SSL_MODE: ${GRAFANA_DB_SSL_MODE}
      GF_SESSION_PROVIDER: ${GRAFANA_SESSION_PROVIDER}
    volumes:
      - ./provisioning:/etc/grafana/provisioning
    networks:
      - stack-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      placement:
        constraints:
          - "${GRAFANA_NODE_CONSTRAINT}"
      replicas: ${GRAFANA_REPLICAS}
      restart_policy:
        condition: any
      labels:
        - traefik.enable=true
        - traefik.swarm.network=${OVERLAY_NETWORK_NAME}
        - traefik.http.routers.grafana.rule=Host(`${GRAFANA_DOMAIN}`)
        - traefik.http.routers.grafana.entrypoints=${TRAEFIK_SECURE_ENTRYPOINT}
        - traefik.http.routers.grafana.tls.certresolver=${TRAEFIK_CERT_RESOLVER}
        - traefik.http.middlewares.grafana-secure-headers.headers.frameDeny=true
        - traefik.http.middlewares.grafana-secure-headers.headers.contentTypeNosniff=true
        - traefik.http.routers.grafana.middlewares=grafana-secure-headers
        - traefik.http.services.grafana.loadbalancer.server.port=3000
        - traefik.http.routers.grafana-http.rule=Host(`${GRAFANA_DOMAIN}`)
        - traefik.http.routers.grafana-http.entrypoints=${TRAEFIK_INSECURE_ENTRYPOINT}
        - traefik.http.routers.grafana-http.middlewares=grafana-redirect
        - traefik.http.middlewares.grafana-redirect.redirectscheme.scheme=https
        - traefik.http.middlewares.grafana-redirect.redirectscheme.permanent=true

networks:
  stack-network:
    external: true
    name: ${OVERLAY_NETWORK_NAME}
